<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Arthemis</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <div class="navbar-user-profile ml-auto">
      <div class="nav-locale-switcher"><span>EN</span> | <span>FR</span></div>
      <div class="user-profile">
        <div>
          <span>Pieera da la </span>
          <b>Admin</b>
        </div>
        <span>V</span>
      </div>
    </div>
  </div>
</nav>
